<!doctype html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content=<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='java_funcs.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="site-header sticky-top py-0">
    <nav class="shadow-lg container d-flex flex-column flex-md-row justify-content-between">
        <div class="dropdown ">
            <button class="btn" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <div class="address">
                    <a>улица Кропоткина, 120/3</a>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item ">Склад. Улица Столетова, 23</a></li>
                <li><a class="dropdown-item">Склад. Улица Курчатова, 19, корпус 1</a></li>
            </ul>
        </div>
        {#        <a class="py-2 d-none d-md-inline-block" style="text-decoration: none;">улица Кропоткина, 21/1</a>#}
        <a class="py-2 d-none d-md-inline-block" style="text-decoration: none;">9:00 - 22:00, ежедневно</a>
        <a class="py-2 d-none d-md-inline-block" style="text-decoration: none;"><img
                src="{{ url_for('static', filename='img/icons/4.png') }}"
                style="height: 19px;width: 19px; margin-right: 3px; margin-bottom: 2px;"> +7 (999) 435-21-24 </a>
    </nav>
</header>
<header class="d-flex justify-content-center py-3">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/" aria-label="Главная">
            <div class="link-ease-in-out" name="top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                     viewBox="0 0 24 24" style="margin-bottom: 2px">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
                </svg>
            </div>
        </a>
        <div class="link-ease-in-out">
            <a class="py-2 d-none d-md-inline-block text-dark font-weight-bold"
               style="text-decoration: none; font-size: 107%;" href="/"><b>Главная</b></a>
        </div>
        <div class="link-ease-in-out">
            <a class="py-2 d-none d-md-inline-block text-dark" style="text-decoration: none; font-size: 107%;"
               href="/katalog"><strong>Каталог</strong></a>
        </div>
        <div class="link-ease-in-out">
            <a class="py-2 d-none d-md-inline-block text-dark" style="text-decoration: none; font-size: 107%;"
               href="/info"><strong>Контакты</strong></a>
        </div>
        <div class="link-ease-in-out">
            <a class="py-2 d-none d-md-inline-block text-dark" style="text-decoration: none; font-size: 107%;"
               href="/tradein"><strong>Trade-in</strong></a>
        </div>
        <div class="dropdown-center ">
            <button class="catrbtn btn dropdown-toggle nav-item dropdown" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <strong>Корзина</strong>
            </button>
            <form class="dropdown-menu" style="width: 650px;max-height: 500px; overflow: scroll";>
                <div cart class="empty text-center" style="margin-top: 30px; margin-right: 10px"><img
                        src="{{ url_for('static', filename='img/icons/cart.png') }}"
                        style="height: 40px;width: 40px;  margin-bottom: 5px;"><strong>Корзина
                </strong>
                </div>
                <div cart class="emptys text-center" style="margin-top: 30px;"><strong>Корзина пуста
                </strong>
                </div>

                <p class="" style="white-space: normal">
                <div class="item" data-id="0">
                    <div class="tbh" id="min"></div>

                </div>
                </p>
                <div num class="text-center">
                    <span class="text3">
                        <span rub class="total-rub"
                              style=" margin-top: 22px;  font-size: 16px; font-weight: 600"><strong></strong></span>
                    </span>
                </div>
                <br>
                <a data-cart class="shine-button" href="/order"style="margin-left: 18%">Перейти к оформлению</a>
                <div class="qwerty">

                </div>

            </form>

        </div>
        {% if current_user.is_anonymous %}
            <div class="link-ease-in-out">
                <a class="py-2 d-none d-md-inline-block text-dark" style="text-decoration: none; font-size: 107%;"
                   href="/login"><strong>Вход</strong></a>
            </div>
        {% endif %}


        {% if current_user.is_authenticated %}
            {#            <div class="" id="navbarNavDarkDropdown">#}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>{{ current_user.login }}</strong>
                    </a>
                    <ul class="dropdown-menu " data-bs-theme="light" aria-labelledby="navbarDarkDropdownMenuLink">

                        {% if 'True' == current_user.is_admin %}
                            <li><a class="dropdown-item" href="/create">Добавить товар</a></li>
                        {% endif %}

                        <li><a class="dropdown-item py-2 d-none d-md-inline-block text-dark" style="text-decoration: none;
                            font-size: 107%;" href="/logout">Выход</a></li>

                    </ul>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>


{% block body %}

{% endblock %}

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                 viewBox="0 0 24 24"><title>Главная</title>
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
            </svg>
            <small class="d-block mb-3 text-muted">© 2022-2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Магазин</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/info">Контакты</a></li>
                <li><a class="link-secondary" href="/katalog">Каталог товаров</a></li>
                <li><a class="link-secondary" href="/tradein">Trade-in</a></li>
                <li><a class="link-secondary" href="#top">Вернуться наверх</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5></h5>
            <ul class="list-unstyled text-small">
                <li><a>Телефон: +7 (999) 435-21-24</a></li>
                <li><a>Адрес: улица Кропоткина, 120/3</a></li>
                <li><a>Время работы: 9:00 - 22:00, ежедневно</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename='save.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='total.js') }}"></script>
<script src="{{ url_for('static', filename='cart.js') }}"></script>
<script src="{{ url_for('static', filename='counter.js') }}"></script>

</html>
