{% extends 'base_order.html' %}

{% block title %}
    Оформление заказа
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adaptive.css') }}">
    <body class="bg-light">

    <div class="container">
        <main>
            <form>
                <div class="py-5 text-center">
                    <h2>Оформление заказа</h2>
                </div>

                <div class="row g-5">
                    <div class="col-md-5 col-lg-4 order-md-last" style="margin-top: 123px">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">Способ получения</h6>
                                    <br>
                                    <h6 class="my-0">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1">
                                            <div class="text11">
                                                <label class="form-check-label" style="margin-top: 3px"
                                                       for="flexRadioDefault1">
                                                    Магазин на Кропоткина 120/3
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1">
                                            <div class="text11">
                                                <label class="form-check-label" style="margin-top: 3px"
                                                       for="flexRadioDefault1">
                                                    Склад на Столетова 23
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1">
                                            <div class="text11">
                                                <label class="form-check-label" style="margin-top: 3px"
                                                       for="flexRadioDefault1">
                                                    Склад на Курчатова 19, корпус 1
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1">
                                            <div class="text11">
                                                <label class="form-check-label" style="margin-top: 3px"
                                                       for="flexRadioDefault1">
                                                    Бесплатная доставка
                                                </label>
                                            </div>
                                        </div>
                                    </h6>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">Способ оплаты</h6>
                                    <br>
                                    <h6 class="my-0">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1">
                                            <div class="text11">
                                                <label class="form-check-label" style="margin-top: 3px"
                                                       for="flexRadioDefault1">
                                                    Наличные или перевод
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1">
                                            <div class="text11">
                                                <label class="form-check-label" style="margin-top: 3px"
                                                       for="flexRadioDefault1">
                                                    Картой (при получении)
                                                </label>
                                            </div>
                                        </div>
                                    </h6>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span><strong>Итог: </strong></span>
                                <strong total style="position: static; margin-right: 136px">
                                </strong>
                            </li>
                            <a class="shine-button"
                               style="width: 280px; height: 47px; margin-top: 30px; padding-top: 10px" type="submit"
                               href="/success">
                                Оплатить
                            </a>
                        </ul>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Кто получит заказ?</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="firstName" class="form-label">Имя</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value=""
                                           required>
                                    <div class="invalid-feedback">
                                        Введите имя
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Фамилия</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value=""
                                           required>
                                    <div class="invalid-feedback">
                                        Введите фамилию
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Номер телефона <span
                                            class="text-muted"></span></label>
                                    <input type="email" class="form-control" id="email" placeholder="">
                                    <div class="invalid-feedback">
                                        Введите верный номер телефона
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Email <span
                                            class="text-muted"></span></label>
                                    <input type="email" class="form-control" id="email" placeholder="">
                                    <div class="invalid-feedback">
                                        Введите корректную почту
                                    </div>
                                </div>
                                <h4 class="mb-3" style="margin-top: 35px;">Ваш адрес проживания?</h4>
                                <div class="col-sm-6" style="width: 400px">
                                    <label for="address" class="form-label">Адрес</label>
                                    <input type="text" class="form-control" id="address" placeholder=""
                                           required="">
                                    <div class="invalid-feedback">
                                        Введите адрес
                                    </div>
                                </div>
                                <div class="col-sm-6" style="width: 224px;">
                                    <label for="zip" class="form-label">Квартира</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Введите номер квартиры
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </main>
    </div>

    </body>
    <script src="{{ url_for('static', filename='summ.js') }}"></script>


{% endblock %}
