{% extends 'base_order.html' %}

{% block title %}
    Спасибо за заказ
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adaptive.css') }}">

    <div class="px-4 py-5 my-5 text-center">
        <h2 class="display-5 fw-bold">Спасибо за заказ!</h2>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">В ближайшее время с вами свяжутся наши сотрудники для подтверждения заказа.</p>
            <p class="lead mb-4">Ждём Вас снова!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a type="button" class="shine-button" style="height: 50px; padding-top: 12px" href="/">Вернуться на главную</a>
            </div>
        </div>
    </div>
    <script>localStorage.clear()</script>
{% endblock %}